<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="McFlyRoothyConnectionString" connectionString="Data Source=94.73.148.3;Initial Catalog=McFlyRoothy;User ID=Hakan;Password=RootHy.11"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>